<section class="sec-skills">
    <div class="container" >
        <div class="row justify-content-center mb-5">

            <h2 class="text-center">Skills y Tecnologias</h2>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-9 text-center" id="skills">
                <i class="bi bi-filetype-html" ></i>
                <i class="bi bi-filetype-css"></i>
                <i class="bi bi-filetype-js" ></i>
                <i class="bi bi-git"></i>
            </div>            
            <div class="col-md-9 text-center" id="skills">
                <i class="bi bi-bootstrap-fill" ></i>
                <i class="bi bi-filetype-tsx" ></i>
                <i class="bi bi-filetype-py"></i>
                <i class="bi bi-filetype-sql"></i>
            </div>
        </div>
    </div>
</section>
