<section class="sec-skills">
    <div class="container" >
        <h3 class="display-5 text-center mb-5">Skills</h3>
        <div class="row">
            <div class="col-md-9" id="skills">
                <i class="bi bi-git"></i>
                <i class="bi bi-filetype-html" ></i>
                <i class="bi bi-filetype-css"></i>
                <i class="bi bi-bootstrap-fill" ></i>
                <i class="bi bi-filetype-js" ></i>
                <i class="bi bi-filetype-tsx" ></i>
                <i class="bi bi-filetype-py"></i>
            </div>
        </div>
    </div>
</section>
