    <section class="pmd-contact-us bg-dark text-white border-bottom py-md-5 py-4">
        <div class="container">
            <div class="row pt-5">
                <div class="col-12">
                    <h2 class="text-capitalize text-center">¿Charlamos?</h2>
                    <div class=" text-center">
                        <p>Dejame tu feedback, comentario o consulta acá!</p>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-12">
                            <form>
                                <div class="row">
                                    <div class="col-12 p-2">
                                            <label for="regular1" class="control-label">Nombre Completo</label>
                                            <input type="text" id="regular1" class="form-control" >
                                        
                                    </div>
                                    <div class="col-12 p-2">
                                        
                                            <label for="regular1" class="control-label">Email</label>
                                            <input type="email" id="regular1" class="form-control" >
                                        
                                    </div>
                                    <div class="col-12 p-2">
                                        
                                            <label for="regular1" class="control-label">Número de contacto</label>
                                            <input type="tel" id="regular1" class="form-control" >
                                        
                                    </div>
                                    <div class="col-12 p-2">
                                        
                                            <label for="regular1" class="control-label">Mensaje</label>
                                            <textarea class="form-control"></textarea>
                                        
                                    </div>
                                </div>
                                <div class="row pt-2">
                                    <div class="col-sm-4 col-12 mb-sm-0 px-2">
                                        <button type="button" class="btn btn-outline-light" size="lg">Enviar Mensaje</button>
                                    </div>
                                    <div class="col-sm-6 col-12 mb-sm-0 px-2">
                                        <button type="button" class="btn btn-outline-light" size="lg">Cancelar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer bg-dark footer-dark">


        <div class="container-footer">
            <div class="row pb-2">
                <div class="col-md-6 pt-2" id="redes-footer">
                    <a href="https://www.linkedin.com/in/vscapobianco/" target="_blank"><i class="bi bi-linkedin"></i></a>
                    <a href="https://github.com/veritocapito" target="_blank"><i class="bi bi-github"></i></a>
                    <a href="mailto:veritocapito@gmail.com"><i class="bi bi-envelope-plus-fill"></i></a>
                </div>
                <div class="col-md-6 pt-2">
                    <h5>2023 - Design by @veritocapito &copy;</h5>
                </div>
            </div>
        </div>



    </footer>




