<section class="sec-education">
    <div class="container-md">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <h2 class="text-center mb-5">Educación</h2>
            </div>

            <div class="col-md-9" *ngFor="let school of education">
                <div class="card" style="max-width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <img [src]="school.image" class="rounded mx-auto d-block mt-3" width="auto" [alt]="school.name" id="logos">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><a [href]="school.url" target="_blank" >{{school.name}}</a></h5>
                                <p class="card-text">{{school.description}}</p>
                                <p class="card-text"><small class="text-muted">{{school.degree}}</small></p>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <!-- Button trigger modal -->
                            <button type="button" data-bs-toggle="modal" data-bs-target="educationModal" class="btn btn-close-white">
                                <i class="bi bi-trash"></i></button>
                            <button type="submit" data-bs-toggle="modal" data-bs-target="educationModal" class="btn btn-close-white">
                                <i class="bi bi-pencil-square"></i></button>
                                <app-modal-education></app-modal-education>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
