<header>
    <nav class="navbar bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand align-text-center" href="http://www.yoprogramo.org.ar/" target="_blank"><img src="../../../assets/img/logo.png" alt="logo" class="logo"><span class="logo">#Yo Programo</span></a>
            <div class="redes">
                <a href="#about">About Me</a>
                <a href="https://www.linkedin.com/in/vscapobianco/" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="https://github.com/veritocapito" target="_blank"><i class="bi bi-github"></i></a>
                <a href="mailto:veritocapito@gmail.com"><i class="bi bi-envelope-plus-fill"></i></a>
                <a routerLink="/signin" target="_blank" ><button  class="btn-main bg-dark">Log In</button></a>
                <a routerLink="/" target="_blank" ><button  class="btn-main bg-dark"> Log Out</button></a>
            </div>       
        </div>
    </nav>
    
</header>
