<header>
    <nav class="navbar bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand align-text-center" href="http://www.yoprogramo.org.ar/" target="_blank"><img src="../../../assets/img/logo.png" alt="logo" class="logo"><span class="logo"><strong>#Yo Programo</strong></span></a>
            <ul class="redes d-flex mt-2">
                <li>
                    <a href="#about"><i class="bi bi-house-fill fa-lg"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/vscapobianco/" target="_blank"><i class="bi bi-linkedin fa-lg"></i></a>
                </li>
                <li>
                    <a href="https://github.com/veritocapito" target="_blank"><i class="bi bi-github fa-lg"></i></a>
                </li>
                <li>
                    <a href="https://telegram.me/veritocapito" target="_blank"><i class="bi bi-telegram fa-lg"></i></a>
                </li>
                <li>
                    <a href="mailto:veronica@estudiocapobianco.com.ar"><i class="bi bi-envelope-plus-fill fa-lg"></i></a>
                </li>
                <li>
                    <a routerLink="/signin" ><i class="bi bi-lock-fill fa-lg"></i></a>
                </li>
                <li>
                    <a routerLink="/signup" ><i class="bi bi-unlock-fill fa-lg"></i></a>
                </li>
            </ul>       
        </div>
    </nav>
    
</header>
