form{
    display: flex;
    background-color: antiquewhite;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.row{
    align-content: center;
    width: 50vw;
    justify-content: center;
}


.img-sign img {
    border-radius: 50%;
    max-width: 150px;
    display: block;
    margin:auto;
}

a{
    text-decoration: none;
}
button{
    width: 50%;
    align-self: center;
}

footer{
    padding-top: 1.9rem;
    padding-bottom: 0.1rem;
    text-align: center;
    background-color: #212529
}