form{
    background-color: antiquewhite;
    min-height: 80vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

img{
    width: 50%;
    display: block;
    margin:auto;
    border-radius: 50%;
}

button{
    width: 50%;
    align-self: center;
}

footer{
    padding-top: 1.9rem;
    padding-bottom: 0.1rem;
    text-align: center;
    background-color: #212529
}