

<!-- Modal -->
<div class="modal fade" id="experienceModal" tabindex="-1" aria-labelledby="experienceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="experienceModalLabel">Experiencia Laboral</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <form name="experienceForm">
                    <div class="col-md-12 mt-3">

                        <label for="experienceImage" class="form-label">Seleccionar imagen</label>
                        <input type="file" class="form-control" name="experienceImage" id="experienceImage">
                    </div>                   
                    <div class="col-md-12">
                        <label for="experienceName" class="form-label">Empresa</label>
                        <input type="text" class="form-control" name="experienceName" id="experienceName">  
                    </div>
                    <div class="col-md-12">
                        <label for="experienceUrl" class="form-label">Url empresa</label>
                        <input type="text" class="form-control" name="experienceUrl" id="experienceUrl">  
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
