<section class="sec-experience">

    <div class="container-exp">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <h2 class="text-center mb-5">Experiencia Laboral</h2>
            </div>
            <div class="col-md-9" *ngFor="let experience of experiences">
                <div class="card" id="card">
                    <div class="row justify-content-center">

                        <div class="col-md-3 mt-3">

                            <img [src]="experience.image" class="rounded-4" max-width="auto" [alt]="experience.company" id="empresa">
                        </div>
                        
                        <div class="col-md-5">
                            <div class="card-body">
                                <h4 id="card-title-exp" class="card-title"><a [href]="experience.url" target="_blank">{{experience.company}}</a></h4>
                                <p class="card-text">{{experience.description}}</p>
                                <p class="card-text"><small class="text-muted">{{experience.startDate}} / {{experience.endDate}}</small></p>
                            </div>
                        </div>

                        <div class="col-md-1">

                            <button type="button" data-bs-toggle="modal" data-bs-target="worksModal" class="btn btn-close-white">
                                <i class="fa-solid fa-pencil"></i></button>
                            <button type="submit" data-bs-toggle="modal" data-bs-target="worksModal" class="btn btn-close-white">
                                <i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
</section>
