<section class="sec-about" id="about">
    <div class="container-md d-fluid">
        <div class="row">
            <div class="col-md-9 mb-5">
                    <h1 class="display-3">Verónica Solange Capobianco</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-1 pt-2">
                <img class="img-fluid" src="../img/perfil.jpg" alt="Foto de perfil" id="foto" >
            </div>
            <div class="col-md-5">
                <h3 class="display-6">FrontEnd Developer</h3>
                <p>Proactiva, detallista, comprometida, autodidacta. Profesional con amplia experiencia gestionando de equipos de trabajo, con marcada orientacion al servicio al cliente y a la búsqueda de soluciones.</p>
            </div>
        </div>
    </div>
</section>
