<section class="sec-about">
    <div class="container">
        <div class="container-about">
            <div class="title">
                
                <h1>Verónica Solange Capobianco <span class="material-symbols-rounded">logo_dev</span></h1>
            </div>
            <div class="img-about">
                <img src="../../../assets/img/perfil.jpg" alt="Foto de perfil" >
            </div>
            <div class="content">
                <h2>FrontEnd Developer</h2>
                <p>{{aboutMe}}</p>
            </div>
            <div class="btn btn-dark mt-2">Leer Mas</div>
        </div>
    </div>
</section>
