* {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    align-items: center;
    justify-content: space-around;
    width: 100%;
    color: rgb(241, 68, 6);
    position: static;
  
  }
  
  .logo{
    width: 6rem;
    color: rgb(241, 68, 6);
    font-size: medium;
  }
  .logo:hover{
    cursor: pointer;
    color: white ;
  }
  
  #foto{
    width: 100%;
    border-radius: 3rem;
  }
  .redes a{
    text-decoration: none;
    margin-right: 1rem;
    color:orangered ;
  }
  
  .card-title a:hover{
    color:orangered ;
    text-decoration: none;
  }
  
  .btn-main {
    color:orangered;
    margin-right: 2rem;
    text-align: center;
    border: none;
  
  }
  
  .btn-main:hover, .redes a:hover {
    color: white;
  
  }
  
  div.redes>i.bi{
    margin: 0.5rem 1rem;
    font-size: 1.5rem;
  }
  
  div.redes>i.bi:hover {
    cursor: pointer;
    color: white ;
  
  }
  
  .sec-about{
    display: flex;
    width: 100%;
    height: 45rem;
    padding: 10rem;
    background-image: url(../img/teclado.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #foto{
    margin-top: 1rem;
  }
  
  
  .sec-education{
    display: flex;
    width: 100%;
    height: 110rem;
    align-items: center;
    background-color: transparent;
    background-image: url(../img/laptop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
  
  .row{
    justify-content: center;
    
  }
  
  .card{
    border: none;
    
  }
  
  #logos{
    max-height: 7rem;
  }
  
  .sec-projects{
    display: flex;
    width: 100%;
    height: 60rem;
    padding: 2rem;
    align-items: center;
  }
  
  .carousel-item{
    width: 100%;
    height: 30rem;
    transition: transform 2s ease-in-out;
  }
  
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: opacity 0s 2s;
  }
  
  
  .card-title a {
    color: #000004;
    text-decoration: none;
  
  }
  
  .card-title a:hover{
    color:orangered ;
    text-decoration: none;
  }
  
  .sec-skills{
    display: flex;
    background-color: orangered;
    width: 100%;
    height: 40rem;
    padding: 2rem;
    align-items: center;
  
  }
  
  div>i.bi{
    margin: 2rem;
    align-content: center;
    font-size: 4rem;
  }
  
  
  footer .col-md{
    color: white;
    font-size: x-small;
  
  }
  
  
  @media screen and (max-width:600px){
    body{
      flex-direction: column;
    }
  
  
    section{
      margin: 0;
      width: 100%;
    }
  
    footer{
      height: 10px;
    }
    
  
  }
  
  @media screen and (min-width: 601px) and (max-width: 960px){
    body{
      flex-direction: column;
    }
  
  
    section{
      margin: 0;
    }
  
  
    footer{
      height: 10px;
    }
  
  }
  
  @media screen and (min-width: 961px) and (max-width: 1280px){
    body{
      flex-direction: column;
    }
  
    h1{
      font-size: medium;
    }
  
  

  
    footer{
      height: 5rem;
    }
    
  }
  